
 body{
    background-image: url(background.jpg);
    display: flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
}

html{
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 26px;
}

button:hover{
    transform: scale(1.05);
    border-style: solid;
    border-color: rgb(224, 195, 31);
}

button{
    max-height: 180px;
   max-width: 300px;
   border-radius: 500px;
}
img{
    max-height: 150px;
   max-width: 250px;
   border-radius: 500px;
}